ion-content {
  --background: linear-gradient(to bottom, #5f6dfb 0%, #f9f6f1 60%);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
ion-header {
  background: transparent;
}

ion-toolbar {
  --background: transparent;
  color: #fff;
}

ion-title {
  text-align: center;
  font-weight: bold;
  color: #fff;
}

/* Formulario */
form {
  width: 90%;
  max-width: 400px;
}

/* Items estilo línea inferior */
ion-item {
  --background: transparent;
  --padding-start: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

ion-label {
  color: #2d2d2d;
}

ion-input {
  font-size: 16px;
}

/* Botón */
ion-button {
  --border-radius: 10px;
  --background: #5f6dfb;
}
