ion-content {
  --background: linear-gradient(to bottom, #5f6dfb 0%, #f9f6f1 60%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-header {
  background: transparent;
}

ion-toolbar {
  --background: transparent;
  color: #fff;
}

ion-title {
  font-weight: bold;
  text-align: center;
  color: #fff;
  font-size: 22px;
}

h2 {
  color: #2d2d2d;
  font-weight: bold;
  font-size: 26px;
  margin-top: 40px;
}

form {
  background: #ffffff;
  border-radius: 25px;
  width: 90%;
  max-width: 400px;
  padding: 25px 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

ion-item {
  --background: transparent;
  --padding-start: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

ion-input,
ion-datetime,
ion-select {
  font-size: 16px;
}

ion-button {
  --background: #5f6dfb;
  --border-radius: 10px;
  font-weight: 600;
  margin-top: 15px;
  box-shadow: 0 4px 10px rgba(95, 109, 251, 0.3);
}

ion-button:hover {
  filter: brightness(1.1);
}
